*{
  font-family: $public;
}

img{
  max-width: inherit;
}

h2 {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif !important;
  font-size: 3rem !important;
  text-align: center;
  font: italic normal bold 47px/57px Roboto;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}

